.row,
.column {
  box-sizing: border-box;
  display: flex;
  flex: 0 1 auto;
  flex-wrap: wrap;
  margin-right: @gutter;
  margin-left: @gutter;

  &.no-wrap {
    flex-wrap: nowrap;
  }

  [class^="col-"] {
      box-sizing: border-box;
      flex-grow: 0;
      flex-shrink: 0;
      padding-right: @gutter / 2;
      padding-left: @gutter / 2;
  }

  .loop(@cols);

  @media @l {
  	.loop(@cols, l);
  }

  @media @m {
  	.loop(@cols, m);
  }

  @media @s {
  	.loop(@cols, s);
  }
}

.row {
  flex-direction: row;

  &.reverse {
    flex-direction: row-reverse;;
  }
}

.column {
  flex-direction: column;

  &.reverse {
    flex-direction: column-reverse;;
  }
}

[class*="items-"],
[class*="justify-"] {
  display: flex;
}

.items-center {
  align-items: center;
}

.items-start {
  align-items: flex-start;
}

.items-end {
  align-items: flex-end;
}

.items-stretch {
  align-items: stretch;
}

.justify-center {
  justify-content: center;
}

.justify-end {
  justify-content: flex-end;
}

.justify-start {
  justify-content: flex-start;
}

.justify-around {
  justify-content: space-around;
}

.justify-between {
  justify-content: space-between;
}
