.loop(@counter, @media) when (@counter > 0) {
	.loop((@counter - 1), @media);
  @width: (@counter / @cols ) * 100;
	.col-@{media}-@{counter} {
      flex-basis: ~"@{width}%";
      max-width: ~"@{width}%";
	}

  .col-offset-@{media}-@{counter} {
    margin-left: ~"@{width}%";
	}
}

.loop(@counter) when (@counter > 0) {
	.loop((@counter - 1));
  @width: (@counter / @cols ) * 100;
  .col-@{counter} {
    flex-basis: ~"@{width}%";
    max-width: ~"@{width}%";
	}
}
