// Loops for spaces and padding
.for(@list, @code) {
    & {
        .loop(@i:1) when (@i =< length(@list)) {
            @value: extract(@list, @i);
            @code();
            .loop(@i + 1);
        }
        .loop();
    }
}

// Loop for responsive breakpoints
.generateCols(@cols, @media) when (@cols > 0) {
	.generateCols((@cols - 1), @media);
  @width: (@cols / @cols ) * 100;
	.col-@{media}-@{cols} {
      flex-basis: ~"@{width}%";
      max-width: ~"@{width}%";
	}

  .col-offset-@{media}-@{cols} {
    margin-left: ~"@{width}%";
	}
}

// Loop for normal cols
.generateCols(@cols) when (@cols > 0) {
	.generateCols((@cols - 1));
  @width: (@cols / @cols ) * 100;
  .col-@{cols} {
    flex-basis: ~"@{width}%";
    max-width: ~"@{width}%";
	}
}
